@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    
    #exam {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        padding: 1rem;
    }

    .header {
        font-family: 'Roboto', sans-serif;
        align-items: center;
        height: 100px;
    }

    .content {
        margin-top: 1rem;
        margin-left: 4rem;
    }

    .container {
        display: flex;
        margin-left: 2rem;
    }

    .range {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-top: 1rem;
        width: 100%;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
        align-items: center;
        justify-content: center;
    }


    .tables table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    .tables table {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
    }

    .tables td {
        padding: 20px;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        width: 150px;
    }

    body {
        align-items: center;
        justify-content: center;
    }

    .logo {
        height: 80px;
        object-fit: cover;
    }

    .tables {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        /* width: 50%
        height: 20vh; */
        margin-left: 5%;
        margin-right: 25%;
    }

    .tables tr {
        height: 100px;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
    }

    .parts {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 3rem;
        margin-top: 3rem;      
        align-items: center;  
        margin-right: 2rem;    
    }

    .room {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        font-family: 'Roboto', sans-serif;
    }

    p {
        margin: 0;
        line-height: 2;
    }

    .parts table, th, td {
        margin-top: 2rem;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .parts td {
        padding: 10px;
        font-size: 18px;
    }

    .parts th {
        padding: 12px;
        font-size: 20px;
    }
