
    
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        
        #exam {
            margin-right: 36rem;
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
        }

        .header {
            font-family: 'Roboto', sans-serif;
            align-items: center;
            height: 100px;
        }

        .content {
            margin-top: 1rem;
            margin-left: 5rem;
        }

        .container {
            display: flex;
            
            margin-left: 2rem;
        }

        .range {
            
            margin-left: 10rem;
            
            width: 100%;
            font-size: 1.2rem;
            font-family: 'Roboto', sans-serif;
        }


        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        table {
            width: 100%;
            margin: 20px auto;
            padding: 10px;
        }

        td {
            padding: 20px;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            width: 150px;
        }

        body {
            align-items: center;
            justify-content: center;
        }

        .logo {
            
            height: 60px;
            object-fit: cover;
        }

        .tables {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            width: 50%
            height: 20vh;
            margin-left: 5%;
            margin-right: 45%;
        }

        tr {
            height: 80px;
        }

        .parts {
            display: flex;
            flex-direction: column;
            width: 50%
            margin-left: 25%;
            margin: 10rem;
            
        }

        