
    
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        
        #exam {
            margin-right: 36rem;
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
        }

        .header {
            font-family: 'Roboto', sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10rem;
        }
        .range {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 10rem;
            flex-direction: column;
            width: 100%;
            font-size: 1.2rem;
            font-family: 'Roboto', sans-serif;
        }


        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        table {
            width: 100%;
            margin: 20px auto;
            padding: 10px;
        }

        td {
            padding: 15px;
            font-size: 20px;
            line-height: 1.5;
            text-align: center;
        }

        body {
            align-items: center;
            justify-content: center;
        }

        .logo {
            margin: 30px;
            height: 60px;
            object-fit: cover;
        }

        .tables {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            width: 50%
            height: 100vh;
            margin-left: 15%;
            margin-right: 20%;
        }

        